<div class="cartelera">
    <h1 class="t-space-h1">CARTELERA</h1>
    <div class="wrapper">
        
    <div *ngFor="let peliculas of peliculas">   
        <div class="card">
            <input type="checkbox" id="card1" class="more" aria-hidden="true">
            <div class="content">
                <div class="front">
                    <div class="inner">
                        <label for="card1" class="button" aria-hidden="true">
                            Detalles
                        </label>
                        <img src="{{this.url + 'caratula/' + peliculas.cartelera}}" />
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div class="info">
                            <span>{{peliculas.puntuacion}}</span>
                            <div class="icon">
                                <img src="./assets/img/clas.png" />
                                <span>Puntuacion</span>
                            </div>
                        </div>
                        <div class="info">
                            <span>{{peliculas.calidad}}</span>
                            <div class="icon">
                                <img src="./assets/img/2d.png" />
                                <span>Calidad</span>
                            </div>
                        </div>
                        <div class="info">
                            <span>128</span>
                            <div class="icon">
                                <img src="./assets/img/ver.jpg" />
                                <span>Espectadores</span>
                            </div>
                        </div>

                        <div class="description">
                            <p class="t-space-p">{{peliculas.titulo}}</p>
                            <div class="location">Paramount Pictures (América del Norte)</div>
                            <div class="price">{{peliculas.tiempo}}</div>
                            <p>{{peliculas.sinopsis}}</p>
                        </div>
                        <div class="info">

                            <label for="card1" class="button return" aria-hidden="true">
                                <img class="comeback" src="./assets/img/volver.png" />
                            </label>

                        </div>

                        <span>
                            <img class="img-trailer"src="./assets/img/trailer.png" />
                        </span>


                        <label class="imglabel" for="card1" class="button2 return" aria-hidden="true">
                            Comprar
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>    
       
    </div>
</div>