
<div class="main" id=app>
    
    <h1>Hi Solutions Word</h1>

  <h1>Quienes Somos</h1>
  <p>Nuestro equipo esta conformado por diferentes talentos </p>

  <div class="card">
    <span>Camilo</span>
  </div>

  <div class="card">
    <span>Camilo</span>
  </div>

  <div class="card">
    <span>Camilo</span>
  </div>

  <div class="card">
    <span>Camilo</span>
  </div>

  <div class="card">
    <span>Camilo</span>
  </div>

</div>


<div class="outer-menu">
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <ul class="mcd-menu">
          <li><a href="#">Quien Somos</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contactanos</a></li>
          <li class="float">
            <a class="search">
              <input type="text" value="Buscar...">
              <button><i class="fa fa-search"></i></button>
            </a>
            <a href="" class="search-mobile">
              <i class="fa fa-search"></i>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</div>


  