<p class ="t-space-h1"> RESERVAS SALA VIP IMAX</p>
<div class="container">
  <div class="calendar-base">

    <div class="year">2020</div>


    <div class="triangle-left"></div>

    <div class="triangle-right"></div>


    <div class="months">
      <span class="month-hover">Ene</span>
      <span class="month-hover">Feb</span>
      <span class="month-hover">Mar</span>
      <span class="month-hover">Abr</span>
      <span class="month-hover">May</span>
      <span class="month-hover">Jun</span>
      <strong class="month-color">Jul</strong>
      <span class="month-hover">Aug</span>
      <span class="month-hover">Sep</span>
      <span class="month-hover">Oct</span>
      <span class="month-hover">Nov</span>
      <span class="month-hover">Dic</span>
    </div>
    <hr class="month-line" />



    <div class="num-dates">

      <div class="container">

        <div class="calendar-container">


          <table class="calendar">

            <thead>

              <tr>

                <td>Dom</td>
                <td>Lun</td>
                <td>Mar</td>
                <td>Mie</td>
                <td>Jue</td>
                <td>Vie</td>
                <td>Sab</td>

              </tr>

            </thead>

            <tbody>





              <tr>
                <td class="prev-month">29</td>
                <td class="prev-month">30</td>
                <td class="prev-month">31</td>
                <td class="prev-month">1</td>
                <td class="prev-month">2</td>
                <!-- <td class="current-day">3</td> -->

                <td class="current-day">
                  <div id="container">

    
                    <!-- Cami -->
                    <div class="botAños">
                      <ul class="menu">
                        <li><a href="#">
                           3
                          </a>
                          <ul class="banner1" id="ban1">
                            <div class="banner2">
                              <div id="card-inner1">
                                <div class="iconosredes">
                                  <div class="ajusteicono">
                                    <a href="" target="_blank"><img src="./assets/img/comida/6.png"
                                        alt="6:30 pm" srcset=""></a>
                                    <a href="" target="_blank"> <img src="./assets/img/comida/7.png"
                                        alt="7:30 pm" srcset=""></a>
                                    <a href="" target="_blank"> <img src="./assets/img/comida/8.png"
                                        alt="8:30 pm" srcset=""></a>
                
                                  </div>
                                  <div class="textofooter">
                                    <p class="t-space-p">*{{peliculas.titulo}}</p>
                                  </div>
                                </div>
                              </div>
                
                            </div>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>

                <td>4</td>
              </tr>



              <tr>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
              </tr>

              <tr>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
              </tr>

              <tr>
                <td>19</td>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
              </tr>

              <tr>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td class="next-month">1</td>
              </tr>

            </tbody>

          </table>


        </div>

      </div>

    </div>

    <div class="calendar-left">

      <div class="num-date">3</div>

      <div class="day">JULIO</div>

      <div class="current-events">
      
        <a href="" target="_blank"> <img src="./assets/img/comida/salalien.jpg"
          alt="8:30 pm" srcset=""></a>
    
      </div>



    </div>


  </div>