<header class="he1">           

  <div class="container red topBotomBordersOut">

   

    <a class="uno">HOME</a>
    <a class="uno">PROGRAMACION</a>
    <a class="uno">CONFITERIA</a>
    <a class="uno">PASES</a>
    <a class="uno">CONTACTENOS</a>
    <a (click)="cerrar()" class="uno">Cerrar Sesion</a>
  </div>
  
</header>

<img class="logo3" src="assets/img/logo.png"  alt="">



<div class="leftMenu">
  <div class="hamburger active">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="leftMenuList">

  <li>
    <a href="#" class="dropdown">
      <i class="fa fa-home"></i>
      <span id="nombre">DIANA XIMENA CHITIVA MUÑOZ</span>
    </a>
    <header>
        <img src="../../../assets/img/halo.jpg" alt="">
    </header>
  </li>
  <li>
    <a href="#" class="dropdown">
      <i class="fa fa-table"></i>
      <span>INFORMACION</span>
    </a>
    <ul class="dropdownlist">
      <li>
        <a href="">
          <ul class="dos">NOMBRE</ul>
          <ul class="dos">APELLIDO</ul>
          <ul class="dos">CORREO</ul>
        </a>
      </li>
    </ul>
  </li>  

    <img class="logo4" src="../../../assets/img/logoDos.png"  alt="">



