<header class="he1">           
  <div class="container red topBotomBordersOut">
    <a class="uno" (click)="home()">HOME</a>
  <!--   <a class="uno">PROGRAMACION</a> -->
    <a class="uno" (click)="comida()">CONFITERIA</a>
    <a class="uno" (click)="contacto()">CONTACTENOS</a>
    <a (click)="cerrar()" class="uno">Cerrar Sesion</a>
  </div>
</header>
<img class="logo3" src="assets/img/logo.png"  alt="">
<div class="leftMenu">
  <div class="hamburger active">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="leftMenuList">

  <li>
    <a href="#" class="dropdown">
      <i class="fa fa-home"></i>
      <span id="nombre">{{usuario.nombre + ' ' +usuario.apellido }}</span>
    </a>
    <header>
        <img src="{{ this.url + 'mostrarFoto/' + usuario.imagen }}" alt="imagen de usuario" id="fotoUsu">
    </header>
  </li>
  <li>
    <a class="dropdown">
      <i class="fa fa-table"></i>
      <span>INFORMACIÓN</span>
      <br>
      <form #formularioPersonal="ngForm">
        <input class="datos" type="text"  placeholder="Nombre" name="nombre"
        #nombre="ngModel" [(ngModel)]= "usuario.nombre">
        <input class="datos" type="text"  placeholder="Apellido" name="apellido"
        #apellido="ngModel" [(ngModel)]="usuario.apellido">
        <input class="datos" type="text"  placeholder="Correo" name="correo"
        #correo="ngModel" [(ngModel)]="usuario.correo">
        <input class="datos" type="password"  placeholder="Contraseña" name="contrasena"
        #contrasena="ngModel" [(ngModel)]="usuario.contrasena">
        <input class="datos" type="text"  placeholder="Afiliación" name="rol"
        #rol="ngModel" [(ngModel)]="usuario.rol">
        <input class="datos" type="text"  placeholder="Dirección" name="direccion"
        #direccion="ngModel" [(ngModel)]="usuario.direccion">
        <input class="datos" type="text"  placeholder="Celular" name="celular"
        #celular="ngModel" [(ngModel)]="usuario.celular">
        <input type="file" id="files"  (change)="subirArchivo($event)">
        <button type="submit" id="actualizar" (click)="actualizarDatos()">Actualizar</button>
      </form>
    </a>
  </li>  

    <img class="logo4" src="../../../assets/img/logoDos.png"  alt="logo empresa">



