<div class="main_header">
    <input type="checkbox" id="boton_menu">
    <label class="icono_menu" for="boton_menu">
     
      <li *ngFor= "let img of imagen" >
       <img [src]="img" class="logo"/></li>

</label>
<nav class="menu">
  <ul>
    <li><a routerLink="/" > Inicio</a></li>
    <li><a routerLink="/comida">Cartelera</a></li>
      <div class="dropdown">
        <button class="dropbtn"> <li> <a routerLink="/comida">Confiteria</a></button>
        <div class="dropdown-content">
          <li><a routerLink="/comida">Bebidas</a></li>
          <li><a routerLink="/comida">Antojitos</a></li>
        </div>
      </div>
  </ul>
</nav>
</div>
