<div *ngIf='pagina == undefined'> 
    <app-nav-inicio ></app-nav-inicio>  
    <app-slider></app-slider>
    <app-cartelera></app-cartelera> 
    <app-footer></app-footer>

</div> 


<div *ngIf='pagina == "usuario"' id="usuario">
    <app-header ></app-header> 
    <app-slider></app-slider>
    <app-sala></app-sala>

    <app-footer></app-footer>
</div>

<div *ngIf='pagina == "administrador"' id="administrador">
  <app-nav-admin ></app-nav-admin>
    <router-outlet></router-outlet>
    <app-pelicula-adm></app-pelicula-adm>   
    <app-footer></app-footer>
</div>

<div *ngIf='pagina == "comida"' id="comida">
    <app-nav-inicio></app-nav-inicio> 
    <app-slider-food></app-slider-food>
    <app-comida></app-comida>
    <app-footer></app-footer>
</div>

<div *ngIf='pagina == "home"' id="home">
    <app-nav-inicio></app-nav-inicio>  
    <app-slider></app-slider>
    <app-cartelera></app-cartelera>
    <app-footer></app-footer>
</div>

<div *ngIf='pagina == "nosotros"' id="home"> 
    <app-formulariocontacto></app-formulariocontacto>
    <app-chat></app-chat>
</div> 




  
