html, body
{
    margin: 0px;
    background-color: white;
}

.he1
{
    font-family: Raleway;
	padding: 5em 3em;
    text-align: center;
    margin-top: 4.4% ;
    margin-left: 0.9;
    
    
}

header span
{
    color: #161d27;
}

div.container
{
    font-family: "Space";
    
	padding: 40px 1px;
    text-align: center;
    margin-top: -10%;
    margin-left: 11px;
    margin-right: 12px;
}


.red a {
    --fill-color: snow;
    position: relative;
    display: inline-block;
    padding: 4px 0;
    font: 700 1rem Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.5s linear;
    font-size: 20px;
    margin-left: 30px;
    
  }
  .red a:hover {
      background-size: 100%;
    }
.red
{
    background:  #161d27;
}


.btn1{    
    border-radius: 5px;
    border: black;
    margin-left: 2%;      
}


.btn2{
    border-radius: 5px;
    border: black;
    margin-left: 2%;      
    
    
}

.red p {
    --fill-color: black;
    position: relative;
    display: inline-block;
    font: 700 1rem Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.5s linear;
    
    
  }
.red p:hover {
    background-size: 100%;
}


.logo3{
    width: 110px;
    height: 110px;
    margin-top: -15%;
    position: absolute;
    margin-left: 180px;
}
