#container {
    width: 280px;
    height: 320px;
    margin-top: -10%;
    margin-left: 65%;
    position:absolute;
    z-index: 1;
}

input {
    background-color: rgba(255, 255, 255, 0.85);
    width: 90%;
    height: 18%;
    font-size: x-large;
    margin-top: 2%;
    padding: 5%;
    border-radius: 10px;
    float: left;
}

button {
    background-color:  #039dc7;
    width: 90%;
    height: 18%;
    padding: 5%;
    margin-top: 2%;
    margin-left: 5%;
    font-size: x-large;
    color: white;
    border-radius: 10px;
    float: left;
}

button:hover {
    transform: scaleY(1.2);
}


