<div id="container">
    <form #formularioRegistro="ngForm" (ngSubmit)="registrarUsuario()">
        <input type="text" required placeholder="Nombre" name="nombre"
        #nombre="ngModel" [(ngModel)]="usuarioRegistro.nombre"/>
        <br>
        <input type="text" required placeholder="apellido" name="apellido"
        #apellido="ngModel" [(ngModel)]="usuarioRegistro.apellido" >
        <br>
        <input type="text" required placeholder="correo" name="correo"
        #correo="ngModel" [(ngModel)]="usuarioRegistro.correo" />
        <br>
        <input type="password" required placeholder="contraseña" name="contrasena"
        #contrasena="ngModel" [(ngModel)]="usuarioRegistro.contrasena">
        <br>
        <input type="text" required placeholder="Alien o depredador" name="tipo"
        #rol="ngModel" [(ngModel)] = "usuarioRegistro.rol">
        <button type="submit">Registrate</button>
    </form>
</div>
