<div id="app" v-cloak>
    <template v-if="list.length">

        <table>
            
            <thead>
                
                <tr>
                    
                    <th><b>Ítem</b></th>
                    <th><b>Confirmar</b></th>
                    <th><b>Combo</b></th>
                    <th><b>Descripción</b></th>
                    <th><b>Cantidad</b></th>
                    <th><b>Cancel</b></th>
                    <th><b>Logo</b></th>

                    <img class="uno"  id="card2img"src="assets/img/comida/eleven.jpg">
                    <img class="dos"  id="card2img"src="assets/img/comida/combo1.jpg">
                    <img class="tres"  id="card2img"src="assets/img/comida/falcon.jpg">
                    <img class="cuatro"  id="card2img"src="assets/img/comida/dorayakis.jpg">

                </tr>
            </thead>
            </table>
            </template>
            </div>
          <!--  <tbody>
                 
                <tr v-for="(item,index) in list">
                    <td style="text-align: center;">{{index+1}}</td>
                    <td>
                        <input style="margin-left: 3%;" type="checkbox" v-model="checked1" name="one" id="checkbox">
                        
                    </td>
                    <td> <b>{{item.name}}</b></td>
                    <td>
                     <p style="color: white;">{{item.desc}}</p>						
                    </td>	
                    <td>
                        <b>{{item.price}}</b>
                    </td>
                    <td> -->
                        <!-- <button @click="deleteButton(index)">Delete</button> 
                        <button class="btn1" style="color: black;"  @click="minusButton(index)" :disabled="item.count===1">-</button>
                        {{item.count}}
                        <button class="btn" style="color: black;" @click="addButton(index)">+</button>
                        
                        
                    
                    </td>
                </tr>
                
            </tbody>
        </table>

        
        <section>

            
            <label for="checkbox"><h3>precio total:{{totalPrice}}</h3></label>
            
        </section>

        

        
    </template>
    <div v-else>El carrito esta vacio</div>
    
</div>
<div class="vacio"> </div>
-->