<main>
<h1>Carrito de compras</h1>
<div class="cart">
   

    <ul>

      <li class="cart-item">
        <span class="cart-item-pic">
          <img src="./assets/img/combo1.jpg">
        </span>
         Combo 1
        <span class="cart-item-desc">Producto</span>
        <span class="cart-item-price">$50.000</span>
      </li>

      <li class="cart-item">
        <span class="cart-item-pic">
          <img src="./assets/img/combo1.jpg">
        </span>
         Combo 1
        <span class="cart-item-desc">Producto</span>
        <span class="cart-item-price">$50.000</span>
      </li>

      <li class="cart-item">
        <span class="cart-item-pic">
          <img src="./assets/img/combo1.jpg">
        </span>
         Combo 1
        <span class="cart-item-desc">Producto</span>
        <span class="cart-item-price">$50.000</span>
      </li>
      

     
    </ul>

    <div class="cart-bottom">
      Total: $100.000
      <a href="#" class="cart-button">Continue</a>
    </div>
  </div>

  <div class="about">
    <p class="about-links">
      <a href="" target="_blank" title="">Pago Seguro</a>
      <a href="" target="_blank" title="">Solaris</a>
    </p>
    <p class="about-author">
      &copy; 2020 <a href="" target="_blank">Hi world Solutions</a> -
      <a href="https://opensource.org/licenses/MIT" target="_blank">Licencia NPM </a><br>
    </p>
  </div>

</main>