@font-face {
    font-family: "Space";
    src: url("/assets/space_age.ttf");
  }
  
  .t-space-h1{
  font-family:'Space','Montserrat', sans-serif ;
  color:snow;
  font-size: 50px;
  
  }
  .t-space-p{
  font-family:'Space','Montserrat', sans-serif ;
  color: #330867;
  font-size: 17px;
  
  }

  .s-titulo-big{
    font: 700 3rem sans-serif;
    margin-top: 40px 40px;
    color: snow;
    text-shadow: -3px -3px 5px  grey ;
    font-size: 50px;
  }  
  .cards-s-big{
      margin:auto;
      text-align: center;
      position: absolute;
  }
  
  .main_content{
      background-image: linear-gradient( 135deg, #039dc7 10%, #7367F0 100%);
      width: 100%;
      text-align: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;
      overflow:hidden;
      border-radius: 2px;
  }

/* FIX CARDS */

.categories{
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
/* .llamar la clase,  dejar espacio, agregar subclases  */
.container .card{
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    background-color: snow;
    margin:13px;

 
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/* End Categories */

/* Cards */
/* fuente */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

body {
background: #efefef;
background-image: linear-gradient( 135deg, #05b7c7 10%, #009dac 100%);
background-attachment: fixed;	
background-size: cover;
}
.bloquetitulo{
font-size: 40px;
letter-spacing: 1px;
margin: 0;
padding-top: 90px;
text-align: center;
color: black;
font-family: Segoe Print;

}
.ptitulo{
margin-top: 40px 40px;
font-size: 25px;
}



.sub-container{
box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
background: #efefef;
text-align: center;
border-radius: 5px;
overflow: hidden;

}

/* 	Product details  */

#product-details {
padding: 0 20px;
font-size: 11px;
color:#efefef;
position: relative;
text-align: left;
overflow: hidden;
padding: 30px;
height: 100%;
float: left;
width: 40%;
}
.product-details h1{
  font-family:'Space','Montserrat', sans-serif ;
  color: #330867;
  font-size: 12px;
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 12px;
    
}

.product-details h1:before{
    position: absolute;
    content: '';
    right: 5%; 
    top: 0%;
    transform: translate(25px, -15px);
    font-family: 'Farsan', cursive;
    display: inline-block;
    background: black;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px;
    color: #FFF;
    margin: 0;
    animation: chan-sh 6s ease infinite;

}


@keyframes chan-sh {
    from  {content: 'Depredador: 50%';}
    to  {content: 'Alien 25%';}
    
}


/* 	Product Name */
.sub-container .product-details h2{
font-family: 'Old Standard TT', serif;
display: inline-block;
position: relative;
font-size: 34px;
color: #344055;
margin: 0;
font-size: 18px;
font-weight: 500;
letter-spacing: 2px;
padding-bottom: 10px;
text-transform: uppercase;
}

.product-title{
padding: 20px 20px 5px 20px;
display: block;
font-size: 15px;
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
}

.product-title b {
font-weight: 900;
letter-spacing: 0px;
}

.badge {
position: relative;
font-size: 10px;
font-weight: 300;
color:#efefef;
background: #009dac;
padding: 2px 5px;
border-radius: 4px;
top: -2px;
margin-left: 5px;
}

.product-caption {
font-family: 'Old Standard TT', serif;
display: block;
padding: 0 20px;
font-size: 12px;
font-weight: 400;
text-transform: uppercase;
}


.product-price {
position: absolute;
background: #009dac;
padding: 7px 20px;
text-align: center;
display: inline-block;
font-size: 24px;
font-weight: 200;
color: #fff;
border-radius: 7px;
margin-top: -13px;
margin-left: -5px;
box-shadow: -10px 20px 15px -10px gray;
}

.product-price{transition: 0.3s ease;}
.product-price:hover{transform: translateX(50px) scale(1.3);}

.product-price b {
margin-left: 5px;
}


/* Description */
.sub-container .product-details > p {
font-family:space;
text-align: center;
font-size: 20px;
color: #7d7d7d;


}

/* control */

.control{
    left: 9.8%;
    margin-bottom: 17px;
    
}
/* the Button */
.btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    border-radius: 5px;
  position: relative;
  overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
    
}

.btn:hover{transform: translateY(-4px);}

.btn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
  padding: 10px 20px;
    font-size: 1.2em;
    margin:0;
    
}
/* shopping cart icon */
.btn .price, .shopping-cart{
    background: #333;
    border: 0;
    margin: 0;
}

.btn .price {
    transform: translateX(-10%); padding-right: 15px;
}

/* the Icon */
.btn .shopping-cart {
    transform: translateX(-100%);
  position: absolute;
    background: #333;
    z-index: 1;
  left: 0;
  top: 0;
}

/* buy */
.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}

#compra{
  height: 33px;
  width: 46px;
}


/* product image  */
.product-image {
transition: all 0.3s ease-out;
display: inline-block;
position: relative;
overflow: hidden;
height: 100%;
float: right;
width: 100%;
display: inline-block;
}

.sub-container img {
    width: 100%;
    height: 100%;}

.info {
background: rgba(27, 26, 26, 0.9);
font-family: 'Farsan', cursive;
transition: all 0.3s ease-out;
transform: translateX(-100%);
position: absolute;
line-height: 1.9;
text-align: left;
font-size: 76%;
cursor: no-drop;
color:#efefef;
height: 100%;
width: 100%;
left: 0;
top: 0;
overflow: hidden;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

/* End Cards */



/* END FIX CARDS  */



/* CONTAINER*/
  
  
  /* CARD  */

  /* fonts  */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');


/*  Product Name */

