
<article class="main_content">
    <section class="s-categories-big" id="grafica">
        <h1 class="t-space-h1">Confiteria</h1>
        <div class="s-container-big">



            <div class="full-card-big">


                <div id="container">    
    
                    <!-- Start  Product details -->
                        <div class="product-details">
                            
                            <!--    Product Name -->
                        <h1>Combo Big Bang </h1>
                    <!-- <span class="hint new">Nuevo</span> --> 
                    <!-- <span class="hint free-shipping">Envió gratis *</span> --> 
                    <!--        the Product rating -->
                        
                    <!-- The most important information about the product -->
                            <p class="information">Grande X 2:Bebidas-Especiales-Antojitos </p>
                    
                    <!-- Control -->
                    <div class="control">

                        <!-- Start Button buying -->
                        <button class="btn">
                            <!--        the Price -->
                            <span class="price">$50.000 </span>
                            <!--        shopping cart icon-->
                            <span class="shopping-cart">
                                <a href="#">
                                    <img class="compra" aria-hidden="true"
                                        src="./assets/img/compra.png" /></a>
                            </span>
                            <!--        Buy Now / ADD to Cart-->
                            <span class="buy">Comprar</span>
                        </button>
                        <!-- End Button buying -->
                    </div>

                                
                    </div>
                        
                    <!--    End Product details   -->
                        
                        
                        
                    <!--    Start product image & Information -->
                        
                    <div class="product-image">
                        
                        <img class="product-image-size"src="assets/img/combo1.jpg">
                        
                    <!--    product Information-->
                    </div>
                    <!--  End product image  -->
                    
                    
                    </div>
                <!-- <div class="card-food"> 

                    <div class="food-widget">

                        <div class="container">

                            <div class="upvotes">+114</div>

                            <img class="avatars"
                                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/upvotes_avatars.png"
                                alt="avatars" />



                        </div> end container 
                    </div end food-widget
                    </div>-->
                
            </div>

           
            <div class="full-card-big">


                <div id="container">    
    
                    <!-- Start  Product details -->
                        <div class="product-details">
                            
                            <!--    Product Name -->
                        <h1>Bebida Slurm</h1>
                    <!-- <span class="hint new">Nuevo</span> --> 
                    <!-- <span class="hint free-shipping">Envió gratis *</span> --> 
                    <!--        the Product rating -->
                        
                    <!-- The most important information about the product -->
                            <p class="information">"Bebida carbonatada exclusiva solaris"</p>
                    
                    <!-- Control -->
                    <div class="control">

                        <!-- Start Button buying -->
                        <button class="btn">
                            <!--        the Price -->
                            <span class="price">$12.000 </span>
                            <!--        shopping cart icon-->
                            <span class="shopping-cart">
                                <a href="#">
                                    <img class="compra" aria-hidden="true"
                                        src="./assets/img/compra.png" /></a>
                            </span>
                            <!--        Buy Now / ADD to Cart-->
                            <span class="buy">Comprar</span>
                        </button>
                        <!-- End Button buying -->
                    </div>

                                
                    </div>
                        
                    <!--    End Product details   -->
                        
                        
                        
                    <!--    Start product image & Information -->
                        
                    <div class="product-image">
                        
                        <img src="assets/img/prod1.jpg">
                        
                    <!--    product Information-->
                    </div>
                    <!--  End product image  -->
                    
                    
                    </div>
                <!-- <div class="card-food"> 

                    <div class="food-widget">

                        <div class="container">

                            <div class="upvotes">+114</div>

                            <img class="avatars"
                                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/upvotes_avatars.png"
                                alt="avatars" />



                        </div> end container 
                    </div end food-widget
                    </div>-->
                
            </div>

        </div>
    </section>
</article>