
 <div class="curtain">
    <div class="curtain__wrapper">
        <input type="checkbox" checked>
        <div class="curtain__panel curtain__panel--left">
        </div>
        <div class="curtain__prize">
            <h1>Carátula</h1>
            <video src = "{{ this.url + 'caratula/' + this.pelicula.linkPelicula }}" id="video"></video>
   </div>
        <div class="curtain__panel curtain__panel--right">
        </div>
    </div>
</div>
<div class="controles">
    <button id="pausa"><i class="fas fa-stop"></i></button>
    <button id="reversa"><i class="fas fa-step-backward"></i></button>
    <button id="adelante"><i class="fas fa-step-forward"></i></button>
    <button id="play"><i class="fas fa-play"></i></button>
    <button id="bajo"><i class="fas fa-volume-down"></i></button>
    <button id="alto"><i class="fas fa-volume-up"></i></button>
    <button id="entrar" type="button" name="button"><i class="fas fa-expand"></i></button>

</div>

