<div id="container">
    <aside id="izq">
        <form>
            <input class="datos" type="text" placeholder="Nombre Pelicula">
            <input class="datos" type="text" placeholder="Director">
            <input class="datos" type="text" placeholder="Link Trailer">
            <input class="datos" type="text" placeholder="Link Pelicula">
            <input class="datos" type="text" placeholder="Sinopsis">
            <input class="datos" type="text" placeholder="clasificacion">
            <input class="datos" type="text" placeholder="Fecha de estreno">
            <input class="datos" type="text"placeholder="Horarios">
            <input class="datos" type="text" placeholder="Salas">
            <input class="datos" type="text" placeholder="estado">
            <button id="botonAgregar" type="submit">Agregar   </button>
        </form> 
    </aside>
    <aside id="der">
        <div id="pelicula">
            <div id="trailer">
                <iframe width="230" height="190" src="https://www.youtube.com/embed/Xh1TwRilcLo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>


    </aside>
</div>
