#container{
    background-image: url('../../../assets/fondo_peliculas_admin.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 90%;
    border: 2px solid black;
    float: left;
}

#izq{
    background-color: rgba(3,157,199,0.5);
    width: 40%;
    height: 95%;
    margin-top: 1%;
    margin-left: 5%;
    border-radius: 10px;
    float: left;
    
}

.datos{
    width: 80%;
    height: 10%;
    margin-top: 1.8%;
    margin-left: 8%;
    padding: 1%;
    overflow: auto;
    float: left;
    border-radius: 5px;
}

#botonAgregar{
    width: 20%;
    height: 15%;
    margin-top: 3%;
    margin-left: 15%;
    padding: 1%;
}

#botonActualizar{
    width: 20%;
    height: 15%;
    margin-top: 3%;
    margin-left: 5%;
    padding: 1%;
}

#botonDocumento{
    width: 20%;
    height: 15%;
    margin-top: 3%;
    margin-left: 5%;
    padding: 1%;
}
#der{
    background-color: rgba(3,157,199,0.5);
    width: 45%;
    height: 95%;
    margin-top: 1%;
    margin-left: 5%;
    border-radius: 10px;
    overflow: auto;
    float: left;
}

#pelicula{
    background-image: url('../../../assets/fondo_cine.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 70%;
    height: 50%;
    margin-top: 2%;
    margin-left: 15%;
    float: left;
}

#trailer{
    background-color: transparent;
    width: 80%;
    height: 65%;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 10px;
    float: left;
}
/*
#afiche{
    background-image: url('../../../assets/cartelera.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30%;
    height : 40%;
    margin-top: 2%;
    margin-left: 5%;
    float: left;
}

#datosPelicula{
    background-image: url('../../../assets/datos_pelicula.jpg') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 55%;
    height: 40%;
    margin-top: 2%;
    margin-left: 5%;
    float: left;
}*/

#sinopsis{
    background-color: transparent;
    width: 90%;
    height: 60%;
    margin-top : 2%;
    margin-left: 5%;
    float: left;
}

.card {
	width: 90%;
    height: 90%;
    margin-left: 5%;
	margin: 1em;
}
.card:hover {
    box-shadow: 0px 0px 90px white; 
    background-size: 100%;
    background-position-x:0%;
    background-position-y:0%;}

.card .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.card .more {
	display: none;

}
.more:checked ~ .content {
    transform: rotateY(180deg);
}

.front,
.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform-style: preserve-3d;
    border-radius: 6px;
 

	
}

.front .back .inner {
    height: 100%;
    display: grid;
    padding: 1.5em;
    transform: translateZ(80px) scale(0.94);
}

.front {
	background-color: #fff;
	background-size: cover;
    background-position: center center;}
    
	.front.inner {
		grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
		justify-items: center;
	}

	.front h2 {
		grid-row: 2;
		margin-bottom: 0.3em;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #fff;
		font-weight: 500;
		text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	}

	.front .rating {
		grid-row: 3;
		color: rgba(255, 255, 255, 0.8);
		font-size: 14px;
		display: flex;
		flex-flow: row nowrap;
		
	}
.front i {
    margin: 0 1px;
}

.back {
	transform: rotateY(180deg);
	background-color: #fff;
    border: 2px solid rgb(240, 240, 240);}
    
	.back .inner {
		grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
		grid-template-columns: repeat(4, auto);
		grid-column-gap: 0.8em;
		justify-items: center;
	}

	.back .info {
		position: relative;
		display: inline-flex;
		align-items: center;
		color: #355cc9;
		grid-row: 3;
		
        }
        .back .info:not(:first-of-type):before {
			content: '';
			position: absolute;
			left: -0.9em;
			height: 18px;
			width: 1px;
			background-color: #ccc;
        }

		.back span {
            font-weight: 700;
            font-size: 1.5em;
		}
		
		.back .icon {
			margin-left: 0.3em; 
        }
        .back  .icon span {
            display: block;
            margin-top: -0.25em;
            font-size: 0.8em;
            font-weight: 600;
            white-space: nowrap;
        }
.back .icon img{
    width: 66px;
    height: 42px;
}

	.back .description {
		grid-row: 5;
		grid-column: 1/-1;
		font-size: 0.8em;
		border-radius: 5px;
		font-weight: 600;
		line-height: 1.4em;
		overflow: auto;
		color: #355cc9;
		padding: 10px;
	}

	.back .location,
	.back .price {
		font-weight: 600;
		color: #355cc9;
		grid-row: 1;
		font-size: 0.86em;
	}

	.back.location {
		grid-column: 1/3;
		justify-self: left;
	}

	.back.price {
		grid-column: 3/-1;
		justify-self: right;
	}

	.button {
		grid-column: 1/-1;
		justify-self: center;
	}


.button {
	grid-row: -1;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
	display: block;
	line-height: 2.9em;
	min-width: 3em;
	background-color: transparent;
	border: solid 2px #fff;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	left: 50%;
	backface-visibility: hidden;
	transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    writing-mode: vertical-lr;
    border-style: dashed;
}

	.botton:hover {
		background-color: #fff;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
		text-shadow: none;
		color: #355cc9;
	}

	.botton .return {
		line-height: 3em;
		color:#355cc9;
		border-color:#355cc9;
        text-shadow: none;}
        
	.botton .return:hover {
			background-color: #355cc9;
			color: #fff;
			box-shadow: none;
        }
        
    .button .return .imglabel{
            width: 2px;
            height: 2px;
        }
    
        .button2 {
            grid-row: -1;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            cursor: pointer;
            display: block;
            min-width: 3em;
            border: solid 2px #fff;
            color: #fff;
            border-radius: 4px;
            text-align: center;
            left: 50%;
            backface-visibility: hidden;
            transition: 0.3s ease-in-out;
            text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            border-style:inset;
            background-image: linear-gradient(to right,#039dc7,black);
        }
        
            .botton2:hover {
                background-color: #fff;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
                text-shadow: none;
                color: #355cc9;
            }
        
            .botton2 .return {
                line-height: 3em;
                color:#355cc9;
                border-color:#355cc9;
                text-shadow: none;}
                
            .botton2 .return:hover {
                    background-color: #355cc9;
                    color: #fff;
                    box-shadow: none;
                }
                
            .button2 .return .imglabel{
                    width: 2px;
                    height: 2px;
                }
            
        


::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: lighten(#355cc9, 20%);
}
::-webkit-scrollbar-thumb:hover {
	background:#355cc9;
}