

@font-face {
  font-family: "Space";
  src: url("/assets/space_age.ttf");
}

.t-space-h1{
font-family:'Space','Montserrat', sans-serif ;
color:snow;
font-size: 50px;

}
.t-space-p{
font-family:'Space','Montserrat', sans-serif ;
color: #330867;
font-size: 17px;

}
  
  .body-slider {
    
    background-image: linear-gradient(to right,#330867,#039dc7);
    font:20px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin-top: -8%;
    padding:0;
    margin-bottom: 8%;
   
  }
  
  h1 {text-align:center;color:snow;padding-top:30px;}
  
  .slider {
  
    width:765px;
    height:360px;
    overflow:hidden;
    margin:30px auto;
    margin-bottom: 0px;
  }
  
  .slider ul {
   
    list-style-type:none;
    width:30000px;
  }
  
  .slider ul li {
    position:relative;
    display:block;
    float:left;
    width:180px;
    border-left:1px solid rgba(145,145,145, 0.6);  
    box-shadow:0 0 20px 1px rgba(22,22,22, 0.5);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    transition:all 0.5s ease;
  }
  
  
  
  .slider ul:hover li {
    width:40px;
  }
  
  .slider ul li:hover {
    
    width:600px;
  }
  
  .slider li img {
    
    display:block;
    width:604px;
    height:360px;
  
  }

 
 
  .title {
    
    position:absolute;
    left:0;
    bottom:0;
    width:600px;
    background:rgba(22,22,22,0.4);
    
  }
  
  .title a {
    display:block;
    padding:20px;
    color:white;
    font-size:15px;
    text-decoration:none;
    font-family:space;
    
    
  }

 