<div class="body-slider">
  <h1 class="t-space-h1">Recomendados</h1>

  <div class="slider">

    <ul>

      <li>
        <div class="title"><a href="#">Alien vs. Depredador</a></div>
        <img src="./assets/img/alien.jpg" />
      </li>
      <li>
        <div class="title"><a href="#">Star Wars:El ascenso de Skywalker </a></div>
        <img src="./assets/img/star.jpg" />
      </li>
      <li>
        <div class="title"><a href="#">Avengers: Endgame </a></div>
        <img src="./assets/img/avengers.jpg" />

      </li>
      <li>
        <div class="title"><a href="#">Wonder Woman</a></div>
        <img src="./assets/img/wonder.jpg" />
      </li>


    </ul>


  </div>
</div>