#container{
    background-color: rgba(29, 2, 2, 0.562);
    width: 90%;
    height: 70%;
    margin-top: -6%;
    margin-left: 5%;
    float: left;

}

#izq{
    background-color: rgba(40, 48, 155, 0.671);
    width: 40%;
    height: 95%;
    margin-top: 1%;
    margin-left: 5%;
    float: left;
    overflow: auto;
}

input{
    width: 90%;
    height: 18%;
    margin-top: 1%;
    margin-left: 3%;
    border-radius: 5px;
    padding: 2%;
    float: left;
}

#der{
    background-color: rgba(40, 48, 155, 0.671);
    width: 45%;
    height: 95%;
    margin-top: 1%;
    margin-left: 5%;
    float: left;
    overflow: auto;
}

#foto{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 30%;
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 35%;
    float: left;
}

.datUsuario{
    background-color: white;
    width: 60%;
    height: 10%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    float: left;
}

.datos{
    width: 80%;
    height: 10%;
    margin-top: 1.8%;
    margin-left: 8%;
    padding: 1%;
    overflow: auto;
    float: left;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 30px;
    color: white;
    font-size: 16px;
}

#actualizar, #buscar{  
    width: 30%;
    height: 15%;
    margin-top: 5%;
    margin-left: 30%;
    padding: 1%;
    text-align: center;
    background: red;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 5%;
}