#container{
    background-image: url(/assets/fondo_peliculas_admin2.jpg);
    width: 90%;
    height: 70%;
    margin-top: 6%;
    margin-left: 5%;
    float: left;
    background-size: 100% 100%;

}

#izq{
    background-color: rgba(40, 48, 155, 0.671);
    width: 40%;
    margin-top: 10%;
    margin-left: 5%;
    float: left;
    overflow: auto;
    font-family: sans-serif;
    border-radius: 5px;
}

input{
    width: 90%;
    height: 18%;
    margin-top: 1%;
    margin-left: 3%;
    border-radius: 5px;
    padding: 2%;
    float: left;
}

#der{
    background-color: rgba(40, 48, 155, 0.671);
    width: 45%;
    height: 95%;
    margin-top: 1%;
    margin-left: 5%;
    float: left;
    overflow: auto;
    border-radius: 5px;
}

.datUsuario{
    background-color: white;
    width: 60%;
    height: 10%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    float: left;
}

.datos{
    width: 80%;
    height: 10%;
    margin-left: 8%;
    padding: 1%;
    overflow: auto;
    float: left;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 30px;
    color: white;
    font-size: 16px;
    text-shadow: snow;
}

#actualizar, #buscar{  
    width: 30%;
    height: 15%;
    margin-top: 5%;
    margin-left: 30%;
    padding: 1%;
    text-align: center;
    border: none;
    outline: none;
    color: rgba(40, 48, 155);
    background-color: snow;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 5%;
}


/* Card usuario */

.card {
    box-shadow: 0 4px 8px 0 snow;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    color: snow;

  }
  .card img{
      width: 120px;
      height: 124px;
      margin-top: 2%;
      border-radius: 2px;
      
  }
  .card h1{
      font-family: space;
      color: snow;
  }
  
  .title {
    
    color: rgba(40, 48, 155);
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgba(40, 48, 155);
    background-color: snow;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: space;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }