<div id="container">
    <div aside id="der">
        <form #buscadorUsusario="ngForm">
            <input class="datos" type="text" placeholder="Correo" name="correo"
            #correo="ngModel" [(ngModel)]="usuario.correo">
            <button id="buscar" type="submit" (click)="buscarUsuario()">Buscar Usuario</button>
        </form> 
        <form #formularioUsuario="ngForm">
           
            <input class="datos" type="text" placeholder="Suscripción" name="suscripcion"
            #suscripcion="ngModel" [(ngModel)]="usuario.suscripcion">
            <input class="datos" type="text" placeholder="Estado" name="estado"
            #estado="ngModel" [(ngModel)]="usuario.estado">
            <button id="actualizar" (click)="actualizar()">Actualizar</button>
        </form>
        <div id="foto">
            <img src="{{ this.url + 'mostrarFoto/' + usuario.imagen}}" alt="foto Usuario" width="100%" height="100%">
        </div>
        <div class="datUsuario">
            {{ usuario.nombre }}
        </div>
        <div class="datUsuario">
            {{usuario.apellido}}
        </div>
        <div class="datUsuario">
            {{usuario.direccion}}
        </div>
        <div class="datUsuario">
            {{usuario.celular}}
        </div>

    </div>
</div>
