
<div class="container">
  <nav>
      <ul class="mcd-menu">
        <li>
          <a href="">
           <h1 class="t-space-p">SOLARIS</h1>
            <small>Nuestro Menú</small>
          </a>
          <ul>
            <li><a href="#"><i class="fa fa-globe"></i>COMBOS</a></li>
            <li><a href="#"><i class="fa fa-trophy"></i>ESPECIALES DE LA CASA</a></li>
            <li><a href="#"><i class="fa fa-female"></i>BEBIDAS</a></li>
            <li><a href="#"><i class="fa fa-female"></i>ANTOJITOS</a></li>

          </ul>
        </li>
        
        <li class="float">
          <a class="search">
            <input type="text" value="Buscar...">
            <button><i class="fa fa-search"></i></button>
          </a>
          <a href="" class="search-mobile">
            <i class="fa fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>


<div class="slider">
    <ul>
      <!-- <li *ngFor="let canciones of canciones ">
        <img src="{{ this.url + 'ObtenerCaratula/' + canciones.caratula }}" alt="caratulas">

      </li> -->


      <li>
        <img src="./assets/img/pub1.jpg"/> 
      </li>
     
      
      <li>
        <img src="./assets/img/pub1.jpg"/> 
      </li>
      <li>
        <img src="./assets/img/pub1.jpg"/> 
      </li>
      <li>
        <img src="./assets/img/pub1.jpg"/> 
      </li>
      
    </ul>
  </div>

